<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kangspace.springcloud.redlock.core.dao.mapper.OpTableCallerMapper" >
  <resultMap id="BaseResultMap" type="org.kangspace.springcloud.redlock.core.model.OpTableCaller" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="op_id" property="opId" jdbcType="VARCHAR" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
    <result column="op_desc" property="opDesc" jdbcType="VARCHAR" />
    <result column="c_time" property="cTime" jdbcType="TIMESTAMP" />
    <result column="m_time" property="mTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, op_id, op_name, op_desc, c_time, m_time
  </sql>
</mapper>